body{
    margin: 0;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}


.bg{
    transform: translateZ(-8px) scale(2);
}

.mountain{
    transform: translateZ(-3px) scale(1.4)
}

.man{
    transform: translateZ(0px) scale(1.1);
}


.bg, .mountain{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
}

.man {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

.title{
    font-size: 15rem;
    color: white;
    z-index: -1;
}

section {
    font-size: 2rem;
    padding: 2rem;
    background-color: #181413;
    color: white;
    height: fit-content;
}